backends/bucket/terraform.tfvars
# Terraform .terraform directory
**/.terraform/

# Compiled plugin binaries
**/terraform-provider-*

# Local state files
**/*.tfstate
**/*.tfstate.*

# Exclude any .terraformrc or terraform.rc files
terraform.rc

**/.terraform.lock.hcl

src/index.html
src/error.html